.channelNameAnim {
    text-shadow: -2px 0 transparent, 0 2px transparent, 2px 0 transparent, 0 -2px transparent;
    white-space: nowrap;
    border-radius:0px;
    padding-left:0.2em;
    padding-right:0.2em;
    animation-name: borderAnim;
    animation-duration:  10s;
    font-size:3em;
    font-weight: 500;
    font-family: 'Playfair Display SC', serif;
    color:#e2d4b7;
}
@keyframes borderAnim {
    from {text-shadow: -2px 0 #ff8800, 0 2px #ff8800, 2px 0 #ff8800, 0 -2px #ff8800;}
    to {text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}
}
.channelName {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    white-space: nowrap;
    border-radius:0px;
    padding-left:0.2em;
    padding-right:0.2em;
    font-size: 3em;
    font-weight:900;
    font-family: 'Playfair Display SC', serif;
    color:#e2d4b7;
}