.ui.segment.segmentStyle {
    padding: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    height: 85vh;
    
    background: url('MetalBareT.png');
    border-radius:0px 0px 30px 30px;
}
#borderImage {
    border-image: url(border_image.png) 10% round;
}