.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2rem;
    font-size: 1.5rem;
    
  }
